@keyframes strikeThrough {
    from {
        width: 0;
        color: white;
    }
    to {
        width: 100%;
        color: red;
    }
}

.line-through-animation {
    position: relative;
    display: inline-block;
}

.line-through-animation::after {
    color: red;
    animation: strikeThrough 1s forwards;
}